img {
    width: 200px;
}

.container-fluid > a {
    text-decoration: none;
}

#navbarNavDropdown {
    justify-content: flex-end;
}

.navbar {
    margin-bottom: 30px;
    background-color: #b5915a;
    background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.row {
    justify-content: center;
}

body {
    background-color: #612d00;
    background-image: url("https://www.transparenttextures.com/patterns/fabric-plaid.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
