img {
    width: 500px;
    height: 500px;
}

.container-fluid > a {
    text-decoration: none;
}

#navbarNavDropdown {
    justify-content: flex-end;
}

<<<<<<< HEAD
=======
#single-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#card-header {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

#single-card-component {
    margin-left: auto;
    margin-right: auto;
}

>>>>>>> 1deebfb87ee56a55019124a1414a28385578fed5
.navbar {
    margin-bottom: 30px;
    background-color: #b5915a;
    background-image: url('https://www.transparenttextures.com/patterns/clean-textile.png');
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.row {
    justify-content: center;
}

.main-form {
    border-color: '#6e3900';
    border-width: 4px;
    padding: 30px;
    border-style: dashed;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

body {
    background-color: #612d00;
    background-image: url('https://www.transparenttextures.com/patterns/fabric-plaid.png');
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
